<!DOCTYPE html>
<html lang="en" class="bg-white">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Internal Server Error</title>
  <link rel="stylesheet" href="/stylesheets/output.css" />
</head>

<body>
  <main class="flex flex-col items-center justify-center w-full min-h-full">
    <h1 class="my-10 text-3xl font-semibold text-blue-600">
      Internal Server Error
    </h1>
    <a href="/report/<%=barcode%>">
      <button class="my-2 btn btn-outline btn-error">
        Regenerate Report
      </button>
    </a>
    <img src="/images/error.png" alt="Error 505" class="w-3/5 h-3/5" />
  </main>
</body>

</html>