<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Limit Reached</title>
    <link rel="stylesheet" href="/stylesheets/output.css" />
  </head>
  <body>
    <main class="flex flex-col items-center justify-center">
      <h1 class="m-10 text-3xl font-semibold text-blue-500">Limit Reached</h1>
      <img src="./limitReached.png" alt="ERROR 429" class="w-2/5 h-2/5" />
    </main>
  </body>
</html>
